html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;

}

/*--header--*/
.header{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;

}

.container-grp1{
  display: flex;

}

.container-grp1 img{
  margin: 2rem 1rem 1rem 1rem;
  height: 1.5rem;

}

.container-grp1 p{
  font-size: 1rem;
  margin-top: 15px;
  display: inline;
  align-self: center;

}

.dsktp-menu-items{
  margin-right: 2rem;
  margin-top: 0.75rem;

}

.dsktp-menu-items li{
  display: inline;
  padding: 1rem;


}

.mobile-menu-items{
  display: none;

}


/*--banner--*/
.banner{
  height: 30rem;
  background-image: url('../resources/glasses-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;

}

.banner-title{
   margin-top: 10rem;
   background-color: white;
   position: relative;
   float: right;
   top: 50px;
   right: 50px;
   width: 550px;
   clear: both;
   text-align: center;

}

.banner-title p{
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

}

/*--main-content--*/
.main-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 0;

}

.container-a{
  height: 8rem;
  padding: 3rem 0rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

.container-a img{
  margin: 0rem 3rem;

}

.container-a p{
  text-align: center;

}

.paper{
  width: 3.5rem;
  padding-bottom: 10px;

}

.ruler{
  width: 5rem;
  padding-bottom: 42px;

}

.truck{
  width: 5rem;
  padding-bottom: 32px;

}

.container-b{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

.sub-container-grp1, .sub-container-grp2{
  width: 35%;


}

.sub-container-grp1{
  margin-right: 2.5%;

}

.sub-container-grp2{
  margin-left: 2.5%;

}

.sub-header{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  width: 10rem;

}

/**footer**/
.footer{
  background-color: azure;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4rem 0;
  margin-top: 5rem;

}

.footer img{
  padding: 0 1rem 0 4rem;
  height: 1.5rem;

}


@media only screen and (max-width: 960px){
  .header,
  .banner,
  .main-content,
  .footer{
    height: auto;
    width: 100%;
  }

  .header{
    position: relative;
    left: 0;
    transform: translateX(0);
    margin-top: 0;


  }

  .banner{
    height: 22rem;

  }

  .banner-title{
    margin-top: 5rem;
    margin-right: 2rem;

  }

  .banner-title p{
    padding: 0.75rem 4rem;
    font-size: 1.33rem;

  }
}


@media only screen and (max-width: 632px){
  .dsktp-menu-items{
    display: none;

  }

  .mobile-menu-items{
    display: inline;

  }

  .mobile-menu-items li{
    padding: 0 1rem;

  }

}

@media only screen and (max-width: 595px){
  .container-b{
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    }

    .sub-container-grp1,
    .sub-container-grp2{
      width: 100%;
      margin: 1rem 0 0 0;
      padding: 0;

    }

    .sub-header{
      width: 100%;
      text-align: center;
      padding: 10px 0;

    }

    .sub-content{
      padding: 0px 10px;

    }

  }

@media only screen and (max-width: 480px){
  .header p{
    display: none;

  }

  .banner{
    height: 13rem;
    background-position: 20%;

  }

  .banner-title{
    margin-top: 9rem;
    right: 0;
    width: 100%;
    margin-right: 0;


  }

  .banner-title p{


  }

  .container-a{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3.77rem 0;
    width: 100%;
    height: auto;

  }

  .container-a p{
    font-size: 0.77rem;

  }

  .sub-content{
    margin-bottom: 4rem;
    font-size: 0.77rem;

  }

  .footer{


  }





}
